.shop {
   display: grid;
   grid-template-columns: 4fr 1fr;
}

.shop__products {
   padding: 4rem 4rem 4rem 14rem;
}
.shop__order-summary {
   background-color: var(--color-secondary);
}

.shop__order-summary p {
   margin-bottom: 0.5rem;
}

.shop__order-title {
   margin-bottom: 2rem;
   font-weight: 700;
   font-size: 2.2rem;
}
.shop__grand-total {
   margin-top: 2rem;
   font-weight: 700;
   font-size: 1.8rem;
}

.shop__products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.5rem;
}

.btn {
   border: none;
   border-radius: 0.8rem;
   padding: 1.3rem;
   min-width: 100%;
   font-size: 2rem;
   cursor: pointer;
}

.btn-flex {
   display: flex;
   justify-content: space-between;
}
.btn-danger {
   background-color: var(--color-red);
   color: var(--color-white);
}
