/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Variables */
:root {
   --color-primary: #1c2b35;
   --color-secondary: #ffe0b3;

   --color-white: #fff;
   --color-light-grey: rgb(221, 221, 221);
   --color-grey: #404040;
   --color-heading: #0e161a;

   --color-btn-add-to-cart: #ff9900;
   --color-btn-add-to-cart-hover: #ff7700;

   --color-red: #ff3030;
}

/* Reset with universal selector */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 10px;
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 1.7;
   box-sizing: border-box;
   color: var(--color-grey);
}
h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--color-heading);
}

.row {
   display: grid;
}
.row.col-2 {
   grid-template-columns: 1fr 1fr;
   gap: 3rem;
}

.container {
   margin: 0 14rem;
}
